* {
    padding: 0%;
    margin: 0%;
    color: var(--computer);
    font-family: 'Chakra Petch', sans-serif;
    
}

:root {
    --computer: #17c242;
    --blood: #b80f0f;     
}

.wrapper {
    background: black;
    padding-right: 10%;
    padding-left: 10%;
}

.help {
    color: var(--blood);
    text-decoration: line-through;
}

/* header */

header {
    height: 40vh;
    background-image: url(../img/areac.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* nav */

nav {
    margin-top: 50px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav li {
    border-right: 3px solid var(--computer);
    width: 100%;
    display: flex;
}

nav a {
    color: var(--computer);
    width: 100%;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

nav a:hover {
    background: var(--computer);
    color: black;
}

/* main */

main {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

h1 {
    padding-top: 20%;
    padding-left: 10px;
}

img {
    padding-top: 60px;
    padding-bottom: 150px;
}

p {
    padding: 10px;
}

span {
    color: var(--blood);
}

/* footer */

footer {
    text-align: center;
    padding: 10px;
}

footer > span {
    color: var(--blood);
}